/*-------------------------------------------*/
/*----------------- MANAGER -----------------*/
/*-------------------------------------------*/

#manager {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: start;
  display: grid;
}

#manager {
  --high: #ff002baf;
  --highlighted-high: #ff0033;

  --medium: #0000ffaf;
  --highlighted-medium: #001eff;

  --low: #008f50;
  --highlighted-low: #00c06d;
}

.manager-wrapper {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: start;
  display: grid;
  gap: 2rem;
}

/*------------------------------------*/
/*-------------- HEADER --------------*/
/*------------------------------------*/

.manager-header {
  border-bottom: 2px solid #ffffff25;
  border-left: 2px solid #ffffff25;
  background-color: #ffffff05;
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  padding: 0 2rem;
  display: grid;
  height: 85px;
  gap: 1rem;
}

.manager-header-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}

/*------------------------------------*/
/*-------------- NAVBAR --------------*/
/*------------------------------------*/

.manager-navbar {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  padding: 0 2rem;
  display: grid;
}

.manager-navbar-button {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.manager-navbar-button-icon {
  transition: opacity 300ms;
  opacity: 0.4;
  width: 25px;
}

.manager-navbar-button-label {
  font-family: "Poppins", sans-serif;
  transition: color 300ms;
  letter-spacing: 0.5px;
  color: #ffffff65;
  translate: 0 1.5px;
  font-size: 1.25rem;
  font-weight: 300;
}

/*------------------------------------------*/
/*------------------ FORM ------------------*/
/*------------------------------------------*/

.manager-form {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  padding: 0 2rem;
  display: grid;
  gap: 0.5rem;
}

.manager-form-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.65rem;
  font-weight: 300;
  color: #fff;
}

.manager-form-divider {
  border-bottom: 2px solid #ffffff25;
  margin: 2rem auto 0 auto;
  border-radius: 40px;
  border-right: none;
  border-left: none;
  border-top: none;
  width: 100px;
}

/*-------------------------------------*/
/*------------ FORM INPUTS ------------*/
/*-------------------------------------*/

.manager-form-inputs {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.manager-form-input {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff10;
  padding: 0.5rem 0.65rem;
  letter-spacing: 0.5px;
  border-radius: 2.5px;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  outline: none;
  border: none;
  resize: none;
}

.manager-form-input::-webkit-scrollbar {
  display: none;
}

.manager-form-input::placeholder {
  color: #ffffffa0;
  font-size: 0.85rem;
}

/*-------------------------------------*/
/*----------- FORM PRIORITY -----------*/
/*-------------------------------------*/

.manager-form-priority {
  justify-content: space-between;
  background-color: #ffffff10;
  padding: 0.5rem 0.65rem;
  grid-auto-flow: column;
  border-radius: 2.5px;
  align-items: center;
  display: grid;
}

.manager-form-priority-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  color: #ffffffa0;
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1;
}

.manager-form-priority-options {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.manager-form-priority-option {
  transition: width 300ms, background-color 300ms;
  border: 2px solid transparent;
  border-radius: 40px;
  appearance: none;
  flex-grow: 1;
  height: 20px;
  width: 20px;
}

.manager-form-priority-option.selected {
  width: 80px;
}

.manager-form-priority-option.high {
  background-color: var(--high);
}

.manager-form-priority-option.medium {
  background-color: var(--medium);
}

.manager-form-priority-option.low {
  background-color: var(--low);
}

.manager-form-priority-option.selected.high {
  background-color: var(--highlighted-high);
}

.manager-form-priority-option.selected.medium {
  background-color: var(--highlighted-medium);
}

.manager-form-priority-option.selected.low {
  background-color: var(--highlighted-low);
}

/*-------------------------------------*/
/*------------ FORM BUTTON ------------*/
/*-------------------------------------*/

.manager-form-button {
  background-color: #050098;
  border-radius: 2.5px;
  padding: 0.35rem 0;
  outline: none;
  border: none;
}

.manager-form-button-label {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.35px;
  font-size: 0.85rem;
  font-weight: 400;
  color: #fff;
}

/*----------------------------------------*/
/*---------------- STREAM ----------------*/
/*----------------------------------------*/

.manager-stream-wrapper {
  grid-template-columns: auto;
  justify-content: stretch;
  padding: 1rem 1.5rem;
  margin-top: -1.25rem;
  overflow-y: scroll;
  align-items: start;
  height: 500px;
  display: grid;
}

.manager-stream-wrapper.objectives {
  height: 325px;
}

.manager-stream-wrapper::-webkit-scrollbar {
  display: none;
}

.manager-stream {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.85rem;
}

/*-----------------------------------------*/
/*---------------- PROJECT ----------------*/
/*-----------------------------------------*/

.manager-project {
  box-shadow: 0 0 20px #00000080;
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  border-radius: 5px;
  position: relative;
  display: grid;
  padding: 1rem;
  gap: 0.5rem;
}

.manager-project.high {
  background-image: linear-gradient(to bottom, #de1738a0, transparent);
}

.manager-project.medium {
  background-image: linear-gradient(to bottom, #0000ff65, transparent);
}

.manager-project.low {
  background-image: linear-gradient(to bottom, #008050, transparent);
}

/*---------------------------------------*/
/*----------- PROJECT DETAILS -----------*/
/*---------------------------------------*/

.manager-project-details {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
}

.manager-project-name {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}

.manager-project-about {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  color: #ffffff80;
  font-size: 0.85rem;
  font-weight: 300;
}

/*----------------------------------------*/
/*----------- PROJECT PROGRESS -----------*/
/*----------------------------------------*/

.manager-project-progress {
  justify-content: stretch;
  align-items: center;
  display: flex;
  gap: 0.85rem;
}

.manager-project-progress-bar {
  background-color: #ffffff25;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  height: 4px;
  --fill: 50%;
}

.manager-project-progress-bar::before {
  background-color: #fff;
  border-radius: 40px;
  position: absolute;
  width: var(--fill);
  height: 100%;
  content: "";
  left: 0;
}

.manager-project-progress-value {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 0.85rem;
  font-weight: 300;
  color: #fff;
}

/*-----------------------------------------*/
/*--------------- OBJECTIVE ---------------*/
/*-----------------------------------------*/

.manager-objective {
  border: 2px solid #ffffff25;
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.manager-objective-details {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.manager-objective-name {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;
  color: #fff;
}

.manager-objective-description {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.25px;
  font-size: 0.85rem;
  color: #ffffff65;
  line-height: 1.25;
  font-weight: 300;
}

/*------------------------------------------------*/
/*------------- OBJECTIVE CONTROLLER -------------*/
/*------------------------------------------------*/

.manager-objective-controller {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.manager-objective-buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.manager-objective-button {
  background-color: transparent;
  outline: none;
  border: none;
}

.manager-objective-button-icon {
  width: 25px;
}

/*----------------------------------------------*/
/*------------- OBJECTIVE PRIORITY -------------*/
/*----------------------------------------------*/

.manager-objective-priority {
  border-radius: 40px;
  flex-grow: 0.5;
  height: 6.5px;
}

.manager-objective-priority.high {
  background-color: var(--highlighted-high);
}

.manager-objective-priority.medium {
  background-color: var(--highlighted-medium);
}

.manager-objective-priority.low {
  background-color: var(--highlighted-low);
}

/*-----------------------------------------*/
/*-------------- TRANSITIONS --------------*/
/*-----------------------------------------*/

.manager-navbar-button:hover .manager-navbar-button-icon {
  opacity: 1;
}

.manager-navbar-button:hover .manager-navbar-button-label {
  color: #fff;
}

/*--------------------------------------------*/
/*---------------- END OF CSS ----------------*/
/*--------------------------------------------*/
