@import url("./manager/header.css");
@import url("./manager/form.css");
@import url("./manager/project.css");

#manager {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: start;
  display: grid;
}

.manager-wrapper {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: start;
  display: grid;
  gap: 2rem;
}
