/*---------------------------------------------------*/
/*----------------- MESSAGES STYLES -----------------*/
/*---------------------------------------------------*/

#messages {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: stretch;
  display: grid;
}

/*------------------------------------*/
/*-------------- HEADER --------------*/
/*------------------------------------*/

.messages-header {
  border-bottom: 2px solid #ffffff25;
  background-color: #ffffff05;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  padding: 0 2rem;
  display: grid;
  height: 85px;
  gap: 1rem;
}

.messages-header-icon {
  border-radius: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  width: 50px;
}

.messages-header-name {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}

/*-------------------------------------*/
/*------------ CHAT BUBBLE ------------*/
/*-------------------------------------*/

.messages-bubbles-stream {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: start;
  overflow-y: scroll;
  padding: 0 1.5rem;
  display: grid;
  height: 500px;
}

.messages-bubbles-stream::-webkit-scrollbar {
  border-radius: 40px;
  width: 2.5px;
}

.messages-bubbles-stream::-webkit-scrollbar-track {
  background-color: #ffffff20;
}

.messages-bubbles-stream::-webkit-scrollbar-thumb {
  background: #ffffffa0;
  border-radius: 40px;
}

.messages-bubbles {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.85rem;
}

.messages-bubble-wrapper {
  grid-template-columns: auto;
  justify-content: start;
  align-items: center;
  display: grid;
}

.messages-bubble-wrapper.sent {
  justify-content: end;
}

.messages-bubble {
  grid-template-columns: auto;
  justify-content: center;
  padding: 0.5rem 1rem;
  align-items: center;
  border-radius: 40px;
  display: grid;
}

.messages-bubble-wrapper.sent .messages-bubble {
  background-color: #0000ffa0;
  border-top-right-radius: 0px;
  margin-left: auto;
}

.messages-bubble-wrapper:not(.sent) .messages-bubble {
  background-color: #ffffff15;
  border-top-left-radius: 0px;
}

.messages-bubble-text {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.25px;
  width: fit-content;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}

/*------------------------------------*/
/*------------ CONTROLLER ------------*/
/*------------------------------------*/

.messages-controller-wrapper {
  background-color: #ffffff05;
  grid-template-columns: auto;
  justify-content: stretch;
  padding: 0.65rem 2rem;
  align-items: center;
  display: grid;
}

.messages-controller {
  justify-content: stretch;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  gap: 0.65rem;
}

.messages-controller-input {
  font-family: "Poppins", sans-serif;
  border: 2px solid #ffffff25;
  background-color: transparent;
  background-color: #000015;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  font-weight: 400;
  font-size: 1rem;
  outline: none;
  color: #fff;
  flex-grow: 1;
}

.messages-controller-input::placeholder {
  transition: opacity 300ms;
}

.messages-controller-icon {
  grid-template-columns: auto;
  background-color: #9400d3;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 0.65rem;
  display: grid;
}

.messages-controller-icon-image {
  translate: 1.5px 0;
  width: 20px;
}

/*-----------------------------------------*/
/*-------------- TRANSITIONS --------------*/
/*-----------------------------------------*/

.messages-controller-input:hover::placeholder {
  opacity: 0;
}

/*----------------------------------------*/
/*-------------- END OF CSS --------------*/
/*----------------------------------------*/
