.input {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  position: relative;
  display: grid;

  > img {
    position: absolute;
    margin: auto 0;
    left: 0.85rem;
    opacity: 0.35;
    width: 18px;
  }

  > input {
    padding: 0.5rem 0.5rem 0.5rem 2.25rem;
    font-family: "Poppins", sans-serif;
    border: 2px solid #ffffff50;
    background-color: transparent;
    letter-spacing: 0.25px;
    border-radius: 2.5px;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
    outline: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: #ffffff50;
    }
  }
}
