/*-------------------------------------------*/
/*-------------- HEADER STYLES --------------*/
/*-------------------------------------------*/

.manager-header {
  border-bottom: 2px solid #ffffff25;
  border-left: 2px solid #ffffff25;
  background-color: #ffffff05;
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  padding: 0 2rem;
  display: grid;
  height: 85px;
  gap: 1rem;
}

.manager-header-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}

/*--------------------------------------------*/
/*---------------- END OF CSS ----------------*/
/*--------------------------------------------*/
