.form {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;

  > form {
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 1rem;
  }
}

.header {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 1rem;
  display: grid;

  > h2 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 400;
    color: #fff;
  }

  > p {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #ffffff65;
    line-height: 1.25;
    font-weight: 200;
  }
}

.inputs {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.buttons {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
}

.toggle {
  font-family: "Poppins", sans-serif;
  margin: 0.5rem auto 0 auto;
  transition: color 250ms;
  letter-spacing: 0.25px;
  text-align: center;
  width: fit-content;
  color: #ffffff65;
  font-weight: 300;

  &:hover {
    color: #fff;
  }
}
