@import url("./common/fonts.scss");
@import url("./common/toast.scss");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000010;
  position: relative;
  z-index: -1;
}

main {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: stretch;
  height: 100dvh;
  display: grid;
}

a {
  text-decoration: none;
}
