.profile {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 1rem;

  > img {
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    width: 52.5px;
  }

  > div {
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 0.25rem;

    > p {
      font-family: "Poppins", sans-serif;
      letter-spacing: 0.5px;
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 1;
      color: #fff;
    }

    > p:last-of-type {
      color: #ffffff50;
      font-size: 0.8rem;
    }
  }
}
